@import "@shared/styles/variables.scss";

.SearchAddressResponse {
  margin-top: 32px;
  padding: 24px;
  box-shadow: 0 2px 8px rgba(2, 0, 97, 0.25);
  border-radius: 10px;

  h2 {
    font-size: 26px;
    line-height: 32px;
  }

  li {
    padding: 16px 0;
    font-size: 20px;
    line-height: 24px;
    border-top: 1px solid $theme-list-border;

    &:first-of-type {
      margin-top: 16px;
    }

    &:last-of-type {
      padding-bottom: 0;
    }
  }
}